body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 1105px;
    height: 50px;
    margin: 31px auto;
    background: #3A7AB4;
    border-radius: 7px;
}

.div-left {
    float: left;
    margin-left: 16px;
}

.div-right {
    float: right;
    margin-right: 16px;
}

a {
    display: inline-block;
    padding: 13px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    background-color: #3A7AB4;
    color: #FFFFFF;
}

a:hover {
    background-color: #6195C3;
}

section {
    margin: 0 auto;
    max-width: 1105px;
}

span {
    display: block;
    padding-top: 264px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #3A7AB4;
}

h1 {
    margin-top: 31px;
    font-family: 'Montserrat';
    font-size: 80px;
    line-height: 89px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
}

h2, p {
    margin: 223px 0 0;
}

p {
    margin-left: 128px;
    display: inline-block;
}

footer {
    height: 223px;
}

/*
section {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-a-1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 702px;
    padding: 50px;
    margin: 35vh 0;
    background: #3A7AB4;
    transition: all .5s ease;
    border-radius: 25px;
}

.div-a-1:hover {
    background: #000;
}
*/