body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 1105px;
    height: 50px;
    margin: 31px auto;
    background: #3A7AB4;
    border-radius: 7px;
}

.div-left {
    float: left;
    margin-left: 16px;
}

.div-right {
    float: right;
    margin-right: 16px;
}

a {
    display: inline-block;
    padding: 13px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    background-color: #3A7AB4;
    color: #FFFFFF;
}

a:hover {
    background-color: #6195C3;
}

section {
    margin: 0 auto;
    max-width: 1105px;
}

span {
    display: block;
    padding-top: 264px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #3A7AB4;
}

h1 {
    margin-top: 31px;
    font-family: 'Montserrat';
    font-size: 80px;
    line-height: 89px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
}

h2,
p {
    margin: 223px 0 0;
}

p {
    margin-left: 128px;
    display: inline-block;
}

footer {
    height: 223px;
}

@media (max-width: 1182px) {
    .wrapper {
        margin: 0 31px;
    }

    header {
        width: 700px;
    }

    h1 {
        line-height: 110.9%;
        font-size: 64px;
    }
}

@media (max-width: 780px) {
    header {
        width: 430px;
        height: 100px;
    }

    .div-right {
        float: unset;
        margin: 0 129px;
    }

    h1 {
        font-size: 56px;
    }
}

@media (max-width: 705px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        margin-left: 30px;
    }
}

@media (max-width: 605px) {
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 515px) {
    header {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 465px) {

    .div-left,
    .div-right {
        margin: 0;
    }
}

@media (max-width: 413px) {
    header {
        height: 150px;
    }

    .container {
        display: block;
    }

    p {
        margin: 30px 0 0;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 27px;
    }
}