body {
    background: #EDF0F1;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

aside {
    position: fixed;
    width: 290px;
    height: 681px;
    float: left;
    margin-left: 52px;
    margin-top: 31px;
    padding: 5px;
    background-color: #fff;
    border-radius: 12px;
    z-index: 1;
}

.warning {
    display: none;
    background-color: #eae7ce;
    margin-top: 110px;
    padding: 50px 25px;
}

.wrapper {
    max-width: 1740px;
    margin: 0 auto;
}

.a-lesson,
.a-settings,
.a-python {
    display: block;
    height: 60px;
    text-decoration: none;
    border-radius: 5px;
}

.a-python {
    margin-top: 261px;
}

.button-menu {
    display: none;
}

.a-lesson:hover,
.a-settings:hover,
.a-python:hover,
.button-menu:hover {
    background-color: #EDF0F1;
}

.div-number-lesson {
    float: left;
    padding: 21px;
    margin: 0;
    width: 24px;
    height: 18px;
}

.div-img-settings,
.div-img-menu {
    display: inline-flex;
    width: 20px;
    padding: 20px;
}

.number-lesson {
    display: flex;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    justify-content: center;
    color: #000;
}

.name-lesson,
.name-settings,
.name-menu {
    margin: 0;
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #1A1A1A;
    display: block;
}

.name-settings,
.name-menu {
    position: relative;
    left: -18px;
    top: -5px;
    display: inline-block;
    line-height: 20px;
}

.name-menu {
    top: 0;
}

.sections {
    margin-left: calc(10% + 300px);
    margin-right: 10%;
    min-width: 320px;
    max-width: 1224px;
}

header {
    position: sticky;
    top: 0;
}

.top-header {
    height: 31px;
    background-color: #edf0f1;
}

.shadow-header {
    height: 50px;
    background: linear-gradient(0deg, rgba(236, 240, 241, 0), #ecf0f1 50px);
}

.container-header {
    background-color: #3A7AB4;
    width: max(calc(100% - 85px), 700px);
    height: 50px;
    border-radius: 7px;
    float: left;
}

.header-p {
    display: inline-block;
    height: 50px;
}

.theme-p {
    float: left;
    padding: 13px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.div-a {
    float: right;
    height: 50px;
    margin-right: 16px;
}

.header-a {
    display: inline-block;
    padding: 13px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    background-color: #3A7AB4;
    color: #FFFFFF;
}

.header-a:hover {
    background-color: #6195C3;
}

.account-button {
    float: right;
    height: 26px;
    max-width: 26px;
    background: #3AB497;
    padding: 12px;
    border-radius: 7px;
    margin: 0 0 0 35px;
}

.account-button:hover {
    background-color: #66C5AE;
}

.lesson {
    display: inline-block;
    margin-top: 60px;
    padding: 50px;
    background: #FFFFFF;
    border-radius: 12px;
}

h1 {
    font-family: 'Montserrat';
    margin: 0;
    padding-bottom: 20px;
    font-size: 30px;
}

h2 {
    font-family: 'Montserrat';
    margin: 0;
    padding: 50px 0 30px;
    color: rgba(0, 0, 0, .95);
    font-size: 26px;
}

.p-lesson {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .9);
}

.a-in-lesson {
    color: #2B5B87;
    text-decoration: none;
}

.a-in-lesson:hover {
    color: #3a7ab4;
    text-decoration: underline;
}

figure {
    margin: 0;
}

.figure-to-line {
    display: inline-block;
    float: none;
    padding-right: 30px;
}

.figcaption-lesson {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    padding-bottom: 20px;
    color: #1A1A1A;
}

.img-lesson {
    width: 100%;
    border-radius: 10px;
}

table,
th,
td {
    border: solid 1px #ececea;
    border-collapse: collapse;
}

table {
    margin-bottom: 20px;
}

.code-lesson,
.pre-code-lesson {
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #EBECEE;
}

.pre {
    page-break-inside: avoid;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
}

code {
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    padding: 10px;
}

.copy-code-lesson {
    float: right;
    padding: 0;
    height: 42px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.copy-code-img,
.copy-code-img-success {
    display: none;
    width: 42px;
    height: 42px;
}

.copy-code-img.visible,
.copy-code-img-success.visible {
    display: inline-block;
}

footer {
    margin: 60px 0 60px;
    padding: 50px;
    background: #FFFFFF;
    border-radius: 12px;
}

.email,
.email-a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.email-a {
    color: #2B5B87;
}

.email-a:hover {
    color: #3a7ab4;
    text-decoration: underline;
}

@media (max-width: 1700px) {
    aside {
        display: flex;
        height: 100%;
        width: 300px;
        border-radius: 0;
        top: 0;
        margin: 0;
        padding: 5px;
        flex-direction: column;
    }

    .sections {
        margin-left: calc(4% + 300px);
        margin-right: 4%;
    }

    .a-python {
        margin-top: max(calc(100vh - 430px), 5px);
    }
}

@media (max-width: 1200px) {
    aside {
        width: 70px;
    }

    aside.animate {
        transition: width .5s ease;
    }

    aside.open {
        width: 290px;
    }

    .sections {
        transform: translateX(0px);
    }

    .sections.shifted {
        transform: translateX(230px);
    }

    .sections.animate {
        transition: transform .5s ease;
    }

    .a-lesson.extension,
    .a-settings.extension,
    .a-python.extension .button-menu.extension {
        width: 290px;
    }

    .a-python {
        margin-top: max(calc(100vh - 490px), 5px);
    }

    .div-number-lesson {
        padding: 21px 23px;
    }

    .div-img-settings {
        padding: 20px 25px;
    }

    .div-img-menu {
        padding: 24px 25px;
    }

    .name-lesson,
    #after-img {
        display: none;
    }

    .name-lesson.visible {
        display: block;
    }

    #after-img.visible,
    .name-settings.visible {
        display: inline-block;
    }

    .button-menu {
        display: inline-block;
        text-align: left;
        border: 0;
        padding: 0;
        background: #fff;
        border-radius: 10px;
        cursor: pointer;
    }

    .sections {
        margin-left: calc(3vw + 80px);
        margin-right: 3vw;
    }
}

@media (max-width: 950px) {
    .top-header {
        height: 0;
    }

    .container-header {
        border-radius: 0 7px 7px;
    }

    .account-button {
        border-radius: 7px 0 7px 7px;
    }

    aside {
        display: none;
    }

    .sections {
        margin: 0;
    }
}

@media (max-width: 800px) {
    .account-button {
        display: none;
    }

    .container-header {
        width: 100%;
        border-radius: 0 0 7px 7px;
    }
}

@media (max-width: 715px) {
    body {
        overflow-x: hidden;
    }

    .wrapper {
        width: 100vw;
    }

    header {
        top: -50px;
    }

    .container-header {
        height: 100px;
        border-radius: 0 0 7px 7px;
    }

    .header-p {
        display: block;
    }

    .theme-p {
        width: calc(100vw - 26px);
        padding: 13px 0;
        float: left;
        text-align: center;
    }

    .div-a {
        display: flex;
        justify-content: center;
        width: 100%;
        float: unset;
        margin: 0 auto;
    }

    .lesson {
        padding: 50px 25px;
    }
}

@media (max-width: 400px) {

    .theme-p,
    .header-a {
        height: 24px;
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .theme-p {
        padding: 13px;
        line-height: 2;
        text-align: left;
    }

    .p-warning {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }

    .div-a {
        margin: 0;
        float: left;
    }
}

@media (max-width: 319px) {
    .theme-p {
        font-size: 16px;
    }

    .warning {
        display: block;
    }
}