* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}

body {
    margin: 0;
    height: 100%;
    background-color: #2E3C4E;
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    max-width: 1865px;
}

@media (max-width: 1865px) {
    .wrapper {
        max-width: 1390px;
    }
}

@media (max-width: 1390px) {
    .wrapper {
        max-width: 915px;
    }
}

@media (max-width: 915px) {
    .wrapper {
        max-width: 440px;
    }
}

h1 {
    margin: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
}

h2 {
    margin: 0;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    margin: 20px 0;
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

img {
    max-width: 400px;
    border-radius: 5px;
}

.wrapper-projects {
    display: flex;
    gap: 35px;
    flex-direction: row;
    flex-wrap: wrap;
}

a.project {
    padding: 20px;
    max-width: 440px;
    height: max-content;
    transition: all .3s ease-in-out;
    background-color: #38495E;
    border-radius: 15px;
}

a.project:hover {
    background-color: #4C5B6E;
}

footer {
    height: 106px;
}

@media (max-width: 960px) {
    a {
        margin: 0 auto;
    }
}

@media (max-width: 460px) {
    h1 {
        margin: 40px auto;
    }

    h1,
    h2,
    a,
    img {
        width: calc(100vw - 55px);
    }
}