* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: calc(100vh - 30px);
    background-color: #2E3C4E;
    color: #ffffff;
}

.wrapper {
    margin: 0 auto 50px;
    max-width: 1865px;
}

h1 {
    margin: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h2 {
    margin: 0;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    margin: 20px 0;
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

img {
    max-width: 400px;
    border-radius: 5px;
}

/* projects */

.wrapper-projects {
    display: flex;
    gap: 35px;
    flex-direction: row;
    flex-wrap: wrap;
}

a.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 440px;
    height: auto;
    transition: all .3s ease-in-out;
    background-color: #38495E;
    border-radius: 15px;
}

a.project:hover {
    background-color: #4C5B6E;
}

a.project:active {
    background-color: #626E7E;
}

a.project img {
    transition: all 0.333s ease-in-out;
}

a.project:hover img {
    transform: scale(1.1) translateY(12px);
    border-radius: 0 0 15px 15px;
}

/* footer */

footer {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #38495E;
    border-radius: 20px;
}

footer a {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    padding: 10px 20px;
    border-radius: 50vh;
    transition: background-color 0.25s ease-in-out;
}

footer a:hover {
    background-color: #4C5B6E;
}

footer a:active {
    background-color: #626E7E;
}

/* media queries */

@media (max-width: 1865px) {
    .wrapper {
        max-width: 1390px;
    }
}

@media (max-width: 1390px) {
    .wrapper {
        max-width: 915px;
    }
}

@media (max-width: 915px) {
    a {
        margin: 0 auto;
    }

    .wrapper {
        max-width: 440px;
    }

    footer {
        flex-wrap: wrap;
        max-width: 440px;
    }
}

@media (max-width: 460px) {
    h1 {
        margin: 40px auto;
    }

    footer {
        width: calc(100vw - 55px);
        border-radius: 15px;
    }

    h1,
    h2,
    p,
    a.project img {
        width: calc(100vw - 95px);
    }

    a.project:hover img {
        transform: none;
        border-radius: 5px;
    }
}