/* colors */

:root {
    --white-color: #ffffff;
    --1-color: #2E3C4E;
    --2-color: #38495E;
    --3-color: #4C5B6E;
    --4-color: #626E7E;
}

/* basic styles */

* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 30px);
    background-color: var(--1-color);
    color: var(--white-color);
}

section {
    margin: 0 auto 50px;
    max-width: 1865px;
}

h1 {
    margin: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: var(--white-color);
    text-decoration: none;
}

h2 {
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    margin: 20px 0;
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

img {
    max-width: 400px;
    border-radius: 5px;
}

/* section projects */

.wrapper-projects {
    display: flex;
    gap: 35px;
    flex-direction: row;
    flex-wrap: wrap;
}

a.main-project {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.main-project:hover {
    font-size: 60px;
}

a.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 440px;
    height: auto;
    transition: all .3s ease-in-out;
    background-color: var(--2-color);
    border-radius: 15px;
}

a.project:hover {
    background-color: var(--3-color);
}

a.project:active {
    background-color: var(--4-color);
}

a.project img {
    transition: all 0.333s ease-in-out;
}

a.project:hover img {
    transform: scale(1.1) translateY(12px);
    border-radius: 0 0 15px 15px;
}

/* header and footer */

header,
footer {
    display: flex;
    gap: 10px;
    margin: 50px auto;
    padding: 0 30px;
    background-color: var(--2-color);
    border-radius: 20px;
}

header a,
footer a {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    padding: 10px 20px;
    border-radius: 50vh;
    transition: background-color 0.25s ease-in-out;
}

header a:hover,
footer a:hover {
    background-color: var(--3-color);
}

header a:active,
footer a:active {
    background-color: var(--4-color);
}

/* media queries */

@media (max-width: 2340px) {
    section {
        max-width: 1865px;
    }
}

@media (max-width: 1865px) {
    section {
        max-width: 1390px;
    }
}

@media (max-width: 1390px) {
    section {
        max-width: 915px;
    }
}

@media (max-width: 915px) {
    a {
        margin: 0 auto;
    }

    section {
        max-width: 440px;
    }

    .wrapper-projects {
        width: 440px;
    }

    footer {
        flex-wrap: wrap;
        max-width: 440px;
    }
}

@media (max-width: 460px) {
    h1 {
        margin: 40px auto;
    }

    h1,
    h2,
    p,
    a.project img {
        width: calc(100vw - 95px);
    }

    footer {
        width: calc(100vw - 55px);
        border-radius: 15px;
    }

    a.project:hover img {
        transform: none;
        border-radius: 5px;
    }
}