body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
}

img {
    max-width: 100%;
}

img.news {
    max-width: 256px;
    border-radius: 35px;
}

p {
    margin: 5px 0;
}

.menu li {
    max-width: 170px;
    margin-bottom: 10px;
}

.after-img {
    margin: 0;
    margin-bottom: 20px;
}

div {
    margin-bottom: 5px;
}

.gallery,
form,
.news,
.article,
.links,
table,
.lists,
.audio {
    margin-bottom: 40px;
}

table {
    width: 100%;
}

th,
td {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
    background: rgb(234, 234, 234);
}

.left,
.right,
.center {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0;
}

.left,
.right {
    width: 25%;
    background-color: rgb(200, 200, 200);
}

.center {
    width: 50%;
    background-color: rgb(255, 255, 255);
}