* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/background-image-header.png);
    background-position: -100px -500px;
    padding-top: 29px;
    height: 100vh;
}

div.header {
    display: flex;
    justify-content: space-between;
    margin: 0 240px;
}

div.logo {
    display: flex;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 17px;
    width: 200px;
    color: #fff;
}

div.links {
    display: flex;
    gap: 32px;
    align-items: center;
}

a {
    text-shadow: 1px 1px 2px black;
}

a, button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    text-decoration: none;
    line-height: 19px;
    color: #fff;

    background-image: linear-gradient(#fff, #fff);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}

button {
    height: 56px;
    width: 177px;
    border: solid 1px #fff;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

button:hover {
    background: rgb(0, 0, 0);
}

h2 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    padding: 10% 0 0 240px;
    color: #fff;
}

div.parameters {
    display: flex;
    margin-left: 10%;
    width: 1261px;
    background-color: #fff;
}

.period, .days, .price {
    padding: 20px 42px;
}

span.title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5A5A5A;
}

span.parameter {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.select {
    width: 22px;
    height: 22px;
    border: #5A5A5A 1px solid;
    color: #000000;
}